ansiwrap==0.8.4
appnope==0.1.0
attrs==19.3.0
backcall==0.1.0
bleach==3.1.1
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
cursor==1.3.4
decorator==4.4.1
defusedxml==0.6.0
docker==4.2.0
entrypoints==0.3
escapism==1.0.0
fsspec==0.6.2
future==0.18.2
gcsfs==0.6.0
google-api-core==1.16.0
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-scheduler==1.2.1
google-cloud-storage==1.25.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.27.1
halo==0.0.28
idna==2.8
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.0
json5==0.8.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyter-repo2docker==0.11.0
jupyterlab==1.2.6
jupyterlab-server==1.0.6
log-symbols==0.0.14
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
oauthlib==3.1.0
pandas==1.0.1
pandocfilters==1.4.2
papermill==1.2.1
parso==0.6.0
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.5.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psutil==5.6.7
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.5.2
pyrsistent==0.15.7
python-dateutil==2.8.1
python-json-logger==0.1.11
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
ruamel.yaml==0.16.7
ruamel.yaml.clib==0.2.0
semver==2.9.0
Send2Trash==1.5.0
six==1.14.0
spinners==0.0.23
tenacity==6.0.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textwrap3==0.9.2
timeago==1.0.13
toml==0.10.0
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
treebeard==0.0.63
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
zipp==2.1.0
